@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

:root {
    --main-color: rgb(22, 22, 63);
    --white-color: #fff;
    --light-blue: rgb(249, 250, 250);
    --button-color: blue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* body::-webkit-scrollbar {
    display: none
} */

.items {
    width: 100%;

    /* margin-top: 100px; */
}

.slick-slide {
    margin: 15px;
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff;
}

.slick-prev {
    left: -17px
}

.slick-next {
    right: -17px
}

.slick-prev,
.slick-next {
    color: black !important
}

.slick-prev:before,
.slick-next:before {
    color: black !important
}

body {
    scroll-behavior: smooth;
    font-size: 14px;
}

.container {
    padding: 0 10%;
}

.hero__section {
    min-height: 100vh;
    width: 100%;


    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);

}

.hero__section button {
    background: var(--button-color);
}

.hero__section h1 {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.15rem;
    line-height: 1.02;
    font-weight: 600;
    font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

.hero__section h5 {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.hero__section .para {
    color: var(--white-color);
    font-size: 1.1rem;
    line-height: 2rem;
}

.hero__section h3 {
    font-size: 2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}

.form-control {
    padding: 10px 16px;
    font-size: 0.9rem;
    font-weight: 600
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    padding: 15px 24px
}

.image {
    width: 60%;
    height: auto;
}

.cards {
    padding: 2rem 0;
    background: var(--light-blue);
    margin-bottom: 6rem;
}

.cards img {
    width: 40px;
    height: 40px
}

.cards h5 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.cards p {
    font-size: 1rem;
    font-weight: 600;
}

.community-section h2,
.carousel-sec h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 20px;

    font-family: Arial, Helvetica, sans-serif;
}

.underline {
    background-color: rgb(255, 207, 0);
    width: 48px;
    height: 5px;
    margin-bottom: 2rem;
}

.community-section .para,
.carousel-sec .para {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    font-family: 'Merriweather', serif;
    padding: 0 5rem;
    text-align: center;

}

.community-section p,
.carousel-sec p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.carousel-container h3 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.community-section .card-details {
    margin-bottom: 2rem;
}

.community-section h5 {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Underline1 {
    height: 0.3rem;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    margin-bottom: 2rem;
}

.carousel-sec {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background: #f9fafa;
}

.carousel-container {
    margin-top: 5rem;
}

.carousel-container .g-name {
    font-size: 1.4rem;
    font-weight: 600
}

.carousel-container .g-role {
    width: fit-content;
    color: #626468;
    margin-bottom: 0 !important;
}

.carousel-container .g-company {
    width: 50px !important;
    height: 50px
}

.become-section {
    padding-top: 3rem;

}

.col-8 {
    margin-left: -3rem;
}

.become-section h2 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.become-section h3 {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.become-section p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    font-family: 'Merriweather', serif;
    padding-right: 4rem;
}

.images-box {
    position: relative;
}


.images-box .img-2 {

    width: 70%;
    height: 85%;
    right: 10%;
    bottom: -60%;
}


.Underline3 {
    height: 0.3rem;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    margin-bottom: 5rem;
    display: grid;
    place-items: end;
}

.become-frag {
    background: #f9fafa;

}

.footer {
    background: var(--light-blue);
    padding: 4rem;
}

.footer h3 a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    ;

}

.rec {



    display: none
        /* display: block;
    
    position: relative;
    right: 0px;
    top: -45%;
    z-index: -1; */

}

.contact_us {
    min-height: 50vh !important;
    background: #101d42 !important;

}





@media (max-width:576px) {
    .container {
        padding: 0 24px;
    }

    .next-container {
        padding: 0 7%;
    }

    .hero__section {
        padding: 5rem 0
    }

    .hero__section h1 {
        font-size: 2rem;
        font-weight: 600;
        /* margin-top: 4rem; */

    }

    .hero__section h3 {
        font-size: 1.6rem;
        margin-top: 1rem !important;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hero__section h5 {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .hero__section .para {
        font-size: 1.14rem;

        line-height: 1.5rem;
        /* margin-top: -2rem; */
    }

    .image {
        width: 65%;
        height: auto;
    }

    .cards {
        margin-bottom: 1rem;
    }

    .cards h5 {
        font-size: 1.2rem;
    }

    .cards p {
        font-size: 1rem;

    }

    .col-8 {
        margin-left: -2rem;
    }

    .main-row {
        margin: 1rem;
    }

    .community-section .para,
    .carousel-sec .para {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        padding: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    .become-section h3 {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .become-section p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        font-family: 'Merriweather', serif;
        padding: 0;
    }

    .images-box .img-1 {

        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

    }

    .images-box .img-2 {

        width: 100%;
        height: 100%;


    }

    .images-box .img-3 {

        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        margin-top: 16rem;


    }

    .images-box .img-4 {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 31rem;



    }

    .Underline3 {
        margin-top: 23rem;
        height: 0.3rem;
        border-top: 0.2vw solid black;
        border-bottom: 0.2vw solid black;
    }



}


@media (min-width:576px) {
    .conatiner {
        max-width: 540px;
        padding-left: 24px;
        padding-right: 24px
    }


    .hero__section {
        min-height: 100vh;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
    }

    .hero__section h1 {
        font-size: 3rem;
        /* margin-top: 65px; */
    }

    .hero__section h3 {
        font-size: 2rem;
        margin-top: 1rem !important;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .contact_us {
        padding-top: 3rem;
        padding-bottom: 3rem;


    }

    .image {
        width: 75%;
        height: auto;
    }

    .col-8 {
        margin-left: -1rem;
    }

    .community-section .para {
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
        padding: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    .become-section h3 {
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }

    .become-section p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        font-family: 'Merriweather', serif;
        padding: 0;
    }

    .images-box .img-1 {

        width: 100%;
        max-width: 350px;
        height: 100%;
        margin-bottom: 2rem;

    }

    .images-box .img-2 {


        width: 100%;
        max-width: 350px;
        height: 100%;
        right: 0;
        bottom: -100%;
    }



    .Underline3 {
        margin-top: 10rem;
        height: 0.3rem;
        border-top: 0.2vw solid black;
        border-bottom: 0.2vw solid black;
    }

    .next-container .main-row {
        margin-top: -10rem !important;
    }

    .next-container .col-md-6 {
        margin-top: -4rem;
    }

}


@media (min-width:768px) {
    .container {

        padding-left: 12px;
        padding-right: 12px;

    }

    .hero__section {
        padding-top: 60px;
        min-height: 100vh;
        width: 100%;
    }

    .hero__section h3 {
        font-size: 2rem;
        margin-top: 1rem !important;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .next-container .main-row {
        margin-top: -11rem !important;
    }

    .next-container .col-md-6 {
        margin-top: -4rem;
    }

    section.contact_us {
        padding-top: 0;
        padding-bottom: 0;
    }
}


@media (min-width:820px) {
    .container{
        margin-left: auto;
        margin-right: auto
    }
    .hero__section {
        min-height: 100vh;
        width: 100%;
    }

    .hero__section h1 {
        font-size: 3rem;
    }

    .hero__section h3 {
        font-size: 2rem;
        margin-top: 1rem !important;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .image {
        width: 75%;
        height: auto;
    }

    .col-8 {
        margin-left: -1rem;
    }

    .community-section .para {
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 400;
        margin-bottom: 2rem;
        padding: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    .become-section p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
        font-family: 'Merriweather', serif;
        padding: 0;
    }

    .images-box .img-1 {

        width: 100%;
        height: 100%;
        margin-bottom: 2rem;

    }

    .images-box .img-2 {

        width: 100%;
        height: 100%;
        right: 0;
        bottom: -100%;
    }

  

    .Underline3 {
        margin-top: 10rem;
        height: 0.3rem;
        border-top: 0.2vw solid black;
        border-bottom: 0.2vw solid black;
    }
section.contact_us{
    min-height: fit-content;
}

}


@media (min-width:992px) {
    

    .images-box .img-2 {
        position: absolute;
        min-width: 360px;
        height: 85%;
        right: -2%;
        bottom: -60%;
    }

    .images-box .img-4 {
        position: absolute;
        width: 70%;
        height: 85%;
        right: 10%;
        bottom: -60%;
    }
    /* .container {
        padding: 0 3%;
    } */

    .hero__section {
        min-height: 100vh;
        width: 100%;
    }

    .hero__section h3 {
        font-size: 2rem;
        margin-top: 1rem !important;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }


    .image {
        width: 75%;
        height: auto;
    }

    .col-8 {
        margin-left: -1rem;
    }


    .images-box {
        position: relative;
    }




    .Underline3 {
        height: 0.3rem;
        border-top: 0.2vw solid black;
        border-bottom: 0.2vw solid black;
        margin-bottom: 5rem;
        display: grid;
        place-items: end;
        margin-top: 10rem;
    }

    .next-container .main-row {
        margin-top: 5rem !important;
    }

    .next-container .col-md-6 {
        margin-top: -10rem;
    }

}


@media (max-width:768px) {
    .img-2 {
        display: flex;
        margin-left: auto;

    }
}


.in-container {
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.become-section>.container {
    padding-bottom: 3rem;
}




@media (min-width:1200px) {
   

    .hero__section {
        min-height: fit-content
    }
}